<div class="about-me">
  <h2>About Me</h2>
  <p>My name is Andrew Townsend, though I often go by “Roo” informally. I’ve been in the software industry since 2008, but started tinkering with computers as early as 1990, making calendars for my father and playing computer games on our old Apple IIGS.</p>
  <p>I took my first foray into web design and development in 1998 when I decided to build a website for my gaming group, despite having no clue what would be involved. I regret to say that my first full website used frames for navigation.</p>
  <p>I enjoy playing older video games, poker, messing with new technologies, watching sports, movies, and TV, and hanging out with my dog, Sally.</p>
</div>
<div class="about-site">
  <h2>About This Site</h2>
  <p>This website has been built with EmberJS, alongside Handlebars and Stylus.</p>
  <p>You can check out the source code on GitHub here: <a href="https://github.com/AndrewTownsend/roohaha" target="_blank">https://github.com/AndrewTownsend/roohaha</a></p>
  <p class="validations">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
      <i class="fas fa-check-circle" />valid css
    </a>
    <a href="http://validator.w3.org/check?uri=referer">
      <i class="fas fa-check-circle" />valid xhtml
    </a>
  </p>
</div>
<div class="currently-consuming">
  <h2>Currently Watching</h2>
  <ul>
    {{#each watching as |show|}}
      <li><a href="{{show.imdb}}" target="_blank">{{show.show}}</a></li>
    {{/each}}
  </ul>
  <h2>Currently Reading</h2>
  <ul>
    {{#each reading as |book|}}
      <li><a href="{{book.amazon}}" target="_blank">{{book.book}}</a> by {{book.author}}</li>
    {{/each}}
  </ul>
</div>