<a href="#home" />
<h1>Hey, I'm Andrew 'roo' Townsend</h1>
<h2>and I'm a</h2>
<span class="faders">
  {{#each faders as |fader|}}
    {{fader-element text=fader.text delay=fader.delay}}
  {{/each}}
</span>
<div class="social-networks">
  {{icon-link icon='fab fa-facebook' link='https://www.facebook.com/roosif' text='facebook'}}
  {{icon-link icon='fab fa-linkedin' link='https://www.linkedin.com/in/andrew-townsend-6876836/' text='linkedin'}}
  {{icon-link icon='fab fa-instagram' link='https://www.instagram.com/r00sif/' text='instagram'}}
  {{icon-link icon='fas fa-code-branch' link='https://github.com/AndrewTownsend' text='github'}}
</div>