<span class="title-line">
  <i class="project-icon {{project.icon}}" /><h3>{{project.name}}</h3> - {{project.status}}
</span>
<p>{{project.description}}</p>
<p>{{project.description2}}</p>
<div class="get-it">
  <span class="download">
    <i class="fas fa-download" />
    {{#if project.download}}
      <a href="{{project.download}}" target="_blank">Download!</a>
    {{else}}
      <span class="no-download">Download unavailable</span>
    {{/if}}
  </span>
  <span class="github"><i class="fas fa-code-branch" /><a href="{{project.git}}">{{project.git}}</a></span>
</div>