<script type="text/javascript">
  $(document).ready(function() {
    $('#nav').localScroll({duration:800});
});
</script>
<header id="nav">
  <div class="top-left">
    {{#link-to "home" class=""}}RooHaha.com{{/link-to}}
  </div>
  <div class="top-navigation">
    {{scrolling-link target=".home" text="Home"}}
    {{scrolling-link target=".about" text="About"}}
    {{scrolling-link target=".projects" text="Projects"}}
    {{scrolling-link target=".contact" text="Contact"}}
    {{scrolling-link target=".css-blog" text="CSS Blog"}}
  </div>
</header>
<div class="main-content">
  {{home-screen}}
  {{about-screen}}
  {{projects-screen}}
  {{contact-screen}}
  {{css-blog}}
</div>
<footer></footer>